.outer-div
{
     height: 500px;
     overflow: hidden; 
     background-size: auto;

   
}
.inner-div
{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 1.5s ease;
     background-image: url('roy3Gh8.jpg');
     background-size: auto;
    
}
.inner-div:hover
{
     transform: scale(1.2);
}

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("bmw-m5-e39-image-750x500.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}